version: "3.9"

services:

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    networks:
      - ragnet

  ollama:
    image: ollama/ollama
    ports:
      - "11434:11434"
    networks:
      - ragnet

  api:
    build: .
    depends_on:
      - elasticsearch
      - ollama
    ports:
      - "8000:8000"
    networks:
      - ragnet

networks:
  ragnet:
